html {
  font-size: 62.5%;
}

body {
  max-width: 192rem;
  font-size: 1.6rem;
  line-height: 1;
  padding: 0 1.6rem;
  font-family: $primary-font;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 117rem;
  margin: 0 auto;
}

.btn {
  border: none;
  background-color: #ccc;
  color: #000;
  min-width: 15rem;
  display: inline-block;
  padding: 0 2.6rem;
  border-radius: 4px;
  cursor: pointer;
}

.btn.btn-primary {
  width: 23rem;
  height: 5.6rem;
  line-height: 5.6rem;
  font-size: 1.6rem;
  background-color: $primary-color;
  color: $white;
  transition: all 0.25s ease-in;
  will-change: opacity, font-weight;

  &:hover {
    opacity: 0.8;
    font-weight: 700;
  }
}
