html {
  font-size: 62.5%;
}

body {
  max-width: 192rem;
  font-size: 1.6rem;
  line-height: 1;
  padding: 0 1.6rem;
  font-family: $primary-font;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 117rem;
  margin: 0 auto;
}

.btn {
  border: none;
  background-color: #ccc;
  color: #000;
  min-width: 15rem;
  display: inline-block;
  padding: 0 2.6rem;
  border-radius: 4px;
  cursor: pointer;
}

.btn.btn-primary {
  @include btn;
  background-color: $primary-color;
}

.btn.btn-secondary {
  @include btn;
  background-color: $green;
  color: $primary-color;
  font-weight: 700;
}

.btn.btn-lg {
  width: 27rem;
  height: 6.4rem;
}
