.company {
  max-width: 155rem;
  margin: 0 auto 10rem;
  width: 100%;
  background: rgb(246, 104, 101);
  background: linear-gradient(
    90deg,
    rgba(246, 104, 101, 1) 0%,
    rgba(246, 136, 38, 1) 100%
  );
  border-radius: 2rem;
  height: 66.6rem;
  padding: 0 16rem;
  @include flex();
  gap: 0 29rem;

  &-text {
    width: calc(50% - 14.5rem);

    &-heading {
      @include heading;
      color: $white;
    }

    &-desc {
      @include desc;
      color: $white;
    }
  }

  &-img-list {
    width: calc(50% - 14.5rem);
    @include flex(flex-start, center, wrap);
    gap: 10.4rem 12rem;

    .company-img-item {
      width: calc(50% - 6rem);

      img {
        width: 100%;
      }
    }
  }

  @media (max-width: 1024px) {
    gap: 0 12rem;
    padding: 0 8rem;

    &-text {
      width: calc(50% - 6rem);
    }

    &-img-list {
      width: calc(50% - 6rem);
      gap: 8rem 10rem;
    }
  }

  @media (max-width: 46.1875em) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem 0;
    padding: 2rem;
    // margin: unset;
    height: auto;

    &-text {
      width: 100%;

      &-heading {
        margin-bottom: 1.6rem;
      }

      &-desc {
        margin-bottom: 2rem;
      }
    }

    &-img-list {
      width: 90%;
    }
  }
}
