.header {
  margin: 0 -1.6rem;
  position: relative;
  margin-bottom: 18rem;

  &-main {
    position: absolute;
    top: 0;
    width: $mw-container;
    &-content {
      @include flex(space-between, center);
      width: 100%;
      height: $h-height;
    }
  }

  &-logo {
    height: inherit;
    @include flex(flex-start, center);
    a {
      display: inline-block;
    }
  }

  &-nav {
    @include flex();
    gap: 0 6rem;

    a {
      font-family: $primary-font;
      line-height: $h-height;
      font-size: 1.6rem;
      display: inline-block;
      color: $white;
      text-transform: uppercase;
      transition: all 0.25s ease-in;
      will-change: color;

      &:hover {
        color: $green;
      }

      img {
        transition: all 0.25s ease-in;
        will-change: opacity;
      }

      img:hover {
        opacity: 0.8;
      }
    }
  }

  .nav-mobile {
    display: block;
    transform: translateX(-200%);
    transition: transform 0.6s cubic-bezier(0.12, 0, 0.39, 0);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 30%;
    background-color: $white;
    z-index: 10;
    box-shadow: 2px 0 4px rgba(0 0 0 / 0.3);

    a {
      display: block;
      padding: 3rem 4rem;
      border-bottom: 1px solid #ccc;
      text-transform: uppercase;
      color: $gray;
      transition: all 0.25s ease-in;
      will-change: background-color, color;

      &:hover {
        background-color: $gray-light;
        color: $gray-dark;
      }
    }
    .nav-close {
      position: absolute;
      top: 3rem;
      right: -20rem;
      z-index: 10;
      background-color: transparent;
      border: none;
      display: block;
      font-size: 4rem;
      cursor: pointer;
      transition: all 0.25s ease-in-out;
      will-change: color;
      color: $white;

      &:hover {
        color: $green;
      }
    }
  }

  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    background-color: rgba($color: #000000, $alpha: 0.8);
    transform: translateX(-100%);
    opacity: 1;
  }

  &-right-mobile {
    display: none;

    .menu-mobile-icon {
      text-decoration: none;
      color: $white;
      background-color: transparent;
      border: 2px solid $white;
      padding: 0.6rem 1.2rem;
      @include flex(center, center);
      gap: 4px;

      transition: all 0.3s ease-in 0s;

      i {
        transform: translateX(0);
        transition: all 0.25s ease-in 0s;
      }

      &:hover {
        color: $green;
        border-color: $green;
        i {
          transform: translateX(2px);
        }
      }
    }
  }

  &-seperate {
    border: 1px solid #9f86ec;
    position: absolute;
    top: $h-height;
    width: 100%;
  }

  @media (max-width: 1024px) {
    &-main {
      width: 100%;
      padding: 0 1.6rem;

      &-content {
        height: calc($h-height / 2);
      }
    }
    &-nav {
      a {
        line-height: calc($h-height / 2);
      }
    }

    &-seperate {
      top: calc($h-height / 2);
    }
  }

  @media (max-width: 768px) {
    &-nav {
      display: none;
    }

    .nav-mobile-open {
      display: block;
    }

    &-right-mobile {
      @include flex();
      gap: 0 2rem;
    }
  }

  @media (max-width: 600px) {
    &-main {
      &-content {
        height: calc($h-height / 3 + 10px);
      }
    }
    &-nav {
      a {
        line-height: calc($h-height / 3 + 10px);
      }
    }

    &-seperate {
      top: calc($h-height / 3 + 10px);
    }

    .nav-mobile {
      .nav-close {
        right: -15rem;
      }
    }
  }

  @media (max-width: 414px) {
    &-main {
      &-content {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.6rem;

        height: calc($h-height);
        padding: 1.6rem 0;
      }
    }

    &-logo {
      flex: 1;
      height: unset;
    }

    &-nav {
      flex: 1;
    }

    &-seperate {
      top: calc($h-height);
    }

    .nav-mobile {
      .nav-close {
        right: -8rem;
        top: 2rem;
      }
    }

    &-img {
      height: 80vh;

      img {
        height: inherit;
        object-fit: cover;
      }
    }
  }
}
