@mixin flex($justify: flex-start, $align: center, $wrap: wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin heading {
  font-size: 3.6rem;
  font-family: $primary-font;
  line-height: 1.5;
  margin-bottom: 2.6rem;
  font-weight: 700;
}

@mixin desc {
  text-align: justify;
  font-size: 1.8rem;
  line-height: 1.9;
  margin-bottom: 6.4rem;
  color: $gray;
}

@mixin btn {
  max-width: 23rem;
  height: 5.6rem;
  line-height: 5.6rem;
  font-size: 1.6rem;
  color: $white;
  transition: all 0.25s ease-in;
  will-change: opacity, font-weight;

  &:hover {
    opacity: 0.8;
    font-weight: 700;
  }
}
