.panel {
  position: relative;
  margin-bottom: 10rem;

  &-main {
    position: absolute;
    top: 50%;
    // left: 25%;
    transform: translateY(-50%);

    .panel-heading {
      @include heading;
      width: 40%;
    }

    .panel-desc {
      @include desc;
      width: 40%;
    }
  }

  &-img {
    width: 65%;
    margin-left: auto;
    margin-right: -1.6rem;
    img {
      width: 100%;
    }
  }

  @media (max-width: 46.1875em) {
    // position: unset;
    &-main {
      position: static;
      // /* hoặc position: relative; tùy vào trường hợp của bạn */
      // top: auto;
      // bottom: auto;
      // left: auto;
      // right: auto;
      transform: none;
      width: 100%;

      .panel-heading {
        width: inherit;
      }

      .panel-desc {
        width: inherit;
        margin-bottom: 3rem;
      }
    }

    &-img {
      width: 100%;
      object-fit: cover;
    }
  }
}
