.pastrami {
  position: relative;
  margin-bottom: 14rem;

  &-img {
    width: 55%;
    margin-right: auto;
    margin-left: -1.6rem;
  }

  &-main {
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translateY(-50%);

    &-img {
      margin-bottom: 2rem;
    }

    &-desc {
      width: 80%;
      font-size: 3rem;
      color: $gray-dark;
      line-height: 1.6;
      margin-bottom: 5.6rem;
    }

    &-quote {
      font-size: 1.8rem;
      color: gray;
    }
  }

  @media (max-width: 46.1875em) {
    &-main {
      position: static;
      // /* hoặc position: relative; tùy vào trường hợp của bạn */
      // top: auto;
      // bottom: auto;
      // left: auto;
      // right: auto;
      transform: none;
      width: 100%;

      &-heading {
        width: inherit;
      }

      &-desc {
        width: inherit;
        margin-bottom: 3rem;
      }
    }

    &-img {
      width: 100%;
      object-fit: cover;
    }
  }
}
