.work {
  margin-bottom: 10rem;
  &-main {
    @include flex();
    gap: 0 16rem;
  }

  &-img {
    width: 50%;
    padding: 1.6rem;
  }

  &-content {
    width: 30%;

    .work-heading {
      @include heading;
    }

    .work-desc {
      @include desc;
    }
  }

  @media (max-width: 1024px) {

    &-main {
      gap: 0 8rem;
    }
  }
}
