.work {
  margin-bottom: 10rem;
  &-main {
    @include flex();
    gap: 0 16rem;
  }

  &-img {
    width: 50%;
    padding: 1.6rem;
  }

  &-content {
    width: 30%;

    .work-heading {
      @include heading;
    }

    .work-desc {
      @include desc;
    }
  }

  @media (max-width: 64em) {
    &-main {
      gap: 0 8rem;
    }
  }

  @media (max-width: 46.1875em) {
    &-main {
      flex-direction: column;
    }

    &-img {
      width: 100%;
      margin-bottom: 4rem;
    }

    &-content {
      width: 100%;

      .work-desc {
        margin-bottom: 3rem;
      }
    }

    .btn.btn-work.btn-primary {
      // margin-bottom: 10rem;
    }
  }
}
