*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/myriad_pro/MYRIADPRO-REGULAR.OTF");
}
html {
  font-size: 62.5%;
}

body {
  max-width: 192rem;
  font-size: 1.6rem;
  line-height: 1;
  padding: 0 1.6rem;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 117rem;
  margin: 0 auto;
}

.btn {
  border: none;
  background-color: #ccc;
  color: #000;
  min-width: 15rem;
  display: inline-block;
  padding: 0 2.6rem;
  border-radius: 4px;
  cursor: pointer;
}

.header {
  border-bottom: 1px solid #978eed;
  margin: 0 -1.6rem;
}
.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 4rem 0;
}
.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0 6rem;
}
.header-nav a {
  font-family: "Myriad Pro", sans-serif;
  font-size: 1.6rem;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  will-change: color;
}
.header-nav a:hover {
  color: #44f2a1;
}
.header-nav a img {
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  will-change: opacity;
}
.header-nav a img:hover {
  opacity: 0.8;
}
.header::before {
  content: "";
  background-image: url("../images/header/header_bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.hero-main {
  height: 96rem;
  position: relative;
}
.hero-content {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.hero-heading {
  font-size: 6rem;
  color: #fff;
  font-weight: normal;
  font-family: "Myriad Pro", sans-serif;
  line-height: 1.3;
}
.hero-heading span {
  display: block;
}
.hero-desc {
  font-size: 2.4rem;
  color: #fff;
  width: 90%;
  line-height: 1.5;
  margin-top: 1.6rem;
  margin-bottom: 4.2rem;
  font-family: "Myriad Pro", sans-serif;
}
.hero .btn.btn-hero {
  width: 272px;
  background-color: #00e4fa;
  font-size: 1.8rem;
  font-family: "Myriad Pro", sans-serif;
  line-height: 6.6rem;
  height: 6.6rem;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  will-change: background-color;
}
.hero .btn.btn-hero:hover {
  background-color: #44f2a1;
}
@media (max-width: 1919px) {
  .hero-content {
    top: 20%;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
}