*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/myriad_pro/MYRIADPRO-REGULAR.OTF");
}
html {
  font-size: 62.5%;
}

body {
  max-width: 192rem;
  font-size: 1.6rem;
  line-height: 1;
  padding: 0 1.6rem;
  font-family: "Myriad Pro", sans-serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

.container {
  max-width: 117rem;
  margin: 0 auto;
}

.btn {
  border: none;
  background-color: #ccc;
  color: #000;
  min-width: 15rem;
  display: inline-block;
  padding: 0 2.6rem;
  border-radius: 4px;
  cursor: pointer;
}

.btn.btn-primary {
  width: 23rem;
  height: 5.6rem;
  line-height: 5.6rem;
  font-size: 1.6rem;
  color: #fff;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  will-change: opacity, font-weight;
  max-width: 100%;
  background-color: #4a44f2;
}
.btn.btn-primary:hover {
  opacity: 0.8;
  font-weight: 700;
}

.btn.btn-secondary {
  width: 23rem;
  height: 5.6rem;
  line-height: 5.6rem;
  font-size: 1.6rem;
  color: #fff;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  will-change: opacity, font-weight;
  background-color: #44f2a1;
  color: #4a44f2;
  font-weight: 700;
}
.btn.btn-secondary:hover {
  opacity: 0.8;
  font-weight: 700;
}

.btn.btn-lg {
  width: 27rem;
  height: 6.4rem;
}

.header {
  margin: 0 -1.6rem;
  position: relative;
  margin-bottom: 18rem;
}
.header-main {
  position: absolute;
  top: 0;
  width: 117rem;
}
.header-main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 12rem;
}
.header-logo a {
  line-height: 12rem;
  display: inline-block;
}
.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0 6rem;
}
.header-nav a {
  font-family: "Myriad Pro", sans-serif;
  line-height: 12rem;
  font-size: 1.6rem;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  will-change: color;
}
.header-nav a:hover {
  color: #44f2a1;
}
.header-nav a img {
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  will-change: opacity;
}
.header-nav a img:hover {
  opacity: 0.8;
}
.header .nav-mobile {
  display: block;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.12, 0, 0.39, 0);
  transition: -webkit-transform 0.6s cubic-bezier(0.12, 0, 0.39, 0);
  transition: transform 0.6s cubic-bezier(0.12, 0, 0.39, 0);
  transition: transform 0.6s cubic-bezier(0.12, 0, 0.39, 0), -webkit-transform 0.6s cubic-bezier(0.12, 0, 0.39, 0);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 30%;
  background-color: #fff;
  z-index: 10;
  -webkit-box-shadow: 2px 0 4px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 0 4px rgba(0, 0, 0, 0.3);
}
.header .nav-mobile a {
  display: block;
  padding: 3rem 4rem;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
  color: #6a727f;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  will-change: background-color, color;
}
.header .nav-mobile a:hover {
  background-color: #a0a8b5;
  color: #393e46;
}
.header .nav-mobile .nav-close {
  position: absolute;
  top: 3rem;
  right: -20rem;
  z-index: 10;
  background-color: transparent;
  border: none;
  display: block;
  font-size: 4rem;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  will-change: color;
  color: #fff;
}
.header .nav-mobile .nav-close:hover {
  color: #44f2a1;
}
.header-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 1;
}
.header-right-mobile {
  display: none;
}
.header-right-mobile .menu-mobile-icon {
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 0.6rem 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4px;
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}
.header-right-mobile .menu-mobile-icon i {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.25s ease-in 0s;
  transition: all 0.25s ease-in 0s;
}
.header-right-mobile .menu-mobile-icon:hover {
  color: #44f2a1;
  border-color: #44f2a1;
}
.header-right-mobile .menu-mobile-icon:hover i {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}
.header-seperate {
  border: 1px solid #9f86ec;
  position: absolute;
  top: 12rem;
  width: 100%;
}
.header .hero {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (max-width: 1024px) {
  .header-main {
    padding: 2rem 1.6rem;
  }
}
@media (max-width: 768px) {
  .header-nav {
    display: none;
  }
  .header .nav-mobile-open {
    display: block;
  }
  .header-right-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0 2rem;
  }
}
@media (max-width: 600px) {
  .header .nav-mobile .nav-close {
    right: -15rem;
  }
}
@media (max-width: 414px) {
  .header .nav-mobile .nav-close {
    right: -8rem;
    top: 2rem;
  }
}

.hero-main {
  position: absolute;
}
.hero-heading {
  font-size: 6rem;
  color: #fff;
  font-weight: normal;
  font-family: "Myriad Pro", sans-serif;
  line-height: 1.3;
}
.hero-heading span {
  display: block;
}
.hero-desc {
  font-size: 2.4rem;
  color: #fff;
  width: 90%;
  line-height: 1.5;
  margin-top: 1.6rem;
  margin-bottom: 4.2rem;
  font-family: "Myriad Pro", sans-serif;
}
.hero .btn.btn-hero {
  width: 272px;
  background-color: #00e4fa;
  font-size: 1.8rem;
  font-family: "Myriad Pro", sans-serif;
  line-height: 6.6rem;
  height: 6.6rem;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  will-change: background-color;
}
.hero .btn.btn-hero:hover {
  background-color: #44f2a1;
}
@media (max-width: 1024px) {
  .hero-content {
    top: 40%;
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
  .hero-heading {
    font-size: 3rem;
  }
  .hero-desc {
    font-size: 1.8rem;
    font-weight: 200;
  }
}
@media (max-width: 600px) {
  .hero-desc {
    margin-bottom: 2rem;
  }
  .hero .btn.btn-hero {
    width: 20rem;
  }
}

.work {
  margin-bottom: 10rem;
}
.work-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0 16rem;
}
.work-img {
  width: 50%;
  padding: 1.6rem;
}
.work-content {
  width: 30%;
}
.work-content .work-heading {
  font-size: 3.6rem;
  font-family: "Myriad Pro", sans-serif;
  line-height: 1.5;
  margin-bottom: 2.6rem;
  font-weight: 700;
}
.work-content .work-desc {
  text-align: justify;
  font-size: 1.8rem;
  line-height: 1.9;
  margin-bottom: 6.4rem;
  color: #6a727f;
}
@media (max-width: 1024px) {
  .work-main {
    gap: 0 8rem;
  }
}

.panel {
  position: relative;
  margin-bottom: 10rem;
}
.panel-main {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.panel-main .panel-heading {
  font-size: 3.6rem;
  font-family: "Myriad Pro", sans-serif;
  line-height: 1.5;
  margin-bottom: 2.6rem;
  font-weight: 700;
  width: 40%;
}
.panel-main .panel-desc {
  text-align: justify;
  font-size: 1.8rem;
  line-height: 1.9;
  margin-bottom: 6.4rem;
  color: #6a727f;
  width: 40%;
}
.panel-img {
  width: 65%;
  margin-left: auto;
  margin-right: -1.6rem;
}
.panel-img img {
  width: 100%;
}

.pastrami {
  position: relative;
  margin-bottom: 14rem;
}
.pastrami-img {
  width: 55%;
  margin-right: auto;
  margin-left: -1.6rem;
}
.pastrami-main {
  position: absolute;
  left: 55%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.pastrami-main-img {
  margin-bottom: 5.6rem;
}
.pastrami-main-desc {
  width: 80%;
  font-size: 3rem;
  color: #393e46;
  line-height: 1.6;
  margin-bottom: 5.6rem;
}
.pastrami-main-quote {
  font-size: 1.8rem;
  color: gray;
}

.company {
  max-width: 155rem;
  margin: 0 auto 20rem;
  width: 100%;
  background: rgb(246, 104, 101);
  background: -webkit-gradient(linear, left top, right top, from(rgb(246, 104, 101)), to(rgb(246, 136, 38)));
  background: linear-gradient(90deg, rgb(246, 104, 101) 0%, rgb(246, 136, 38) 100%);
  border-radius: 2rem;
  height: 66.6rem;
  padding: 0 16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0 29rem;
}
.company-text {
  width: calc(50% - 14.5rem);
}
.company-text-heading {
  font-size: 3.6rem;
  font-family: "Myriad Pro", sans-serif;
  line-height: 1.5;
  margin-bottom: 2.6rem;
  font-weight: 700;
  color: #fff;
}
.company-text-desc {
  text-align: justify;
  font-size: 1.8rem;
  line-height: 1.9;
  margin-bottom: 6.4rem;
  color: #6a727f;
  color: #fff;
}
.company-img-list {
  width: calc(50% - 14.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10.4rem 12rem;
}
.company-img-list .company-img-item {
  width: calc(50% - 6rem);
}
.company-img-list .company-img-item img {
  width: 100%;
}
@media (max-width: 1024px) {
  .company {
    gap: 0 12rem;
    padding: 0 8rem;
  }
  .company-text {
    width: calc(50% - 6rem);
  }
  .company-img-list {
    width: calc(50% - 6rem);
    gap: 8rem 10rem;
  }
}

.integrate {
  margin-bottom: 20rem;
}
.integrate-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0 13rem;
}
.integrate-main-text {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -ms-flex-item-align: center;
      align-self: center;
}
.integrate-heading {
  font-size: 3.6rem;
  font-family: "Myriad Pro", sans-serif;
  line-height: 1.5;
  margin-bottom: 2.6rem;
  font-weight: 700;
}
.integrate-desc {
  text-align: justify;
  font-size: 1.8rem;
  line-height: 1.9;
  margin-bottom: 6.4rem;
  color: #6a727f;
}
.integrate-box-list {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 3rem;
}
.integrate-box-list .integrate-box-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
.integrate-box-list .integrate-box-item {
  width: 32rem;
  height: 29rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4.8rem 0;
}
.integrate-box-list .integrate-box-item .box-name {
  font-size: 2rem;
}
@media (max-width: 1024px) {
  .integrate-main {
    gap: 0 6rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .integrate-main-text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .integrate-box-list {
    gap: 1.6rem;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    width: 50%;
  }
  .integrate-box-list .integrate-box-group {
    width: calc(50% - 0.8rem);
    gap: 1.6rem;
  }
  .integrate-box-list .integrate-box-group .integrate-box-item {
    width: 100%;
  }
  .integrate-box-list .integrate-box-item {
    width: calc(50% - 0.8rem);
    height: 22rem;
  }
}

.business {
  position: relative;
}
.business-text {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  text-align: center;
}
.business-text-heading {
  font-size: 6rem;
  color: #fff;
  margin-bottom: 4rem;
}
.business-text-desc {
  font-size: 2.4rem;
  color: #fff;
  margin-bottom: 6.4rem;
}
.business::before {
  content: "";
  display: block;
  background-image: url("../images/content/grow_business.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50%;
  margin: 0 -1.6rem;
}
@media (max-width: 1024px) {
  .business-text {
    width: 80%;
  }
}

.footer {
  padding-top: 15rem;
  background-color: #282f3a;
  margin: 0 -1.6rem;
  color: #a0a8b5;
}
.footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0 15.8rem;
  padding-bottom: 14rem;
}
.footer-first, .footer-third {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}
.footer-second {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.footer-second ul a {
  display: inline-block;
  color: #a0a8b5;
  font-size: 1.6rem;
  line-height: 3;
}
.footer-third ul {
  margin-bottom: 3.6rem;
}
.footer-third ul li {
  display: inline-block;
  line-height: 1.9;
}
.footer-logo {
  margin-bottom: 4.6rem;
}
.footer-desc {
  line-height: 1.9;
  margin-bottom: 4rem;
}
.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0 4rem;
}
.footer-item-heading {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 4.6rem;
}
.footer-bottom {
  background-color: #252b36;
  height: 15rem;
}
.footer-bottom-main {
  position: relative;
}
.footer-bottom-copyright .text-white {
  color: #fff;
  line-height: 15rem;
}
.footer-bottom-rocket {
  position: absolute;
  right: 0;
  top: -3.2rem;
}
@media (max-width: 1024px) {
  .footer {
    padding: 15rem 1.6rem 0;
  }
  .footer-bottom {
    margin: 0 -1.6rem;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
  }
}